ibm-cos-sdk-core @ git+https://github.com/ibm/ibm-cos-sdk-python-core.git@2.13.4
ibm-cos-sdk-s3transfer @ git+https://github.com/ibm/ibm-cos-sdk-python-s3transfer.git@2.13.4
jmespath @ git+https://github.com/boto/jmespath.git@1.0.1
six==1.16.0
